* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.9);
  margin: 0;
  padding: 0;
  width: 100%;
}

/* .bio,
.conocimientos,
.contacto {
  max-width: 70%;
  margin: 3rem auto;
} */

.landing {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.landing__img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6),
      rgba(14, 13, 13, 1)
    ),
    url(assets/img/descarga9.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  filter: blur(2px);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing__saludo {
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing__saludo__contenido {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 4rem;
  border-radius: 50%;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 3.5rem;
    margin: 5px;
    font-family: "Lobster", sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 3.5rem;
  }
  h2 {
    font-size: 1.5rem;
    margin: 5px;
    font-family: "Lobster", sans-serif;
    font-weight: 100;
    font-style: normal;
    line-height: 2rem;
  }
}

header {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  z-index: 2;
}

nav.nav {
  background-color: transparent;
  z-index: 1;
  padding: 5px;
  display: flex;
  justify-content: end;
}
.nav__logo {
  flex: 1;
}
.nav__list {
  list-style: none;
  display: flex;
  gap: 75px;
  margin-right: 100px;
}
.nav__link {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s;
  padding-bottom: 3px;
}
.nav__link:hover {
  border-color: #ffd700;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.bio {
  flex-basis: 50%;
  max-width: 50%;
  color: white; /* Compatibilidad con fondo negro */
}

.exp {
  display: flex;
  flex-basis: 50%;
  max-width: 50%;
  position: relative;
  padding-right: 50px;
}

.timeline {
  position: relative;
  width: 100%;
  padding-left: 10px; /* Espacio entre la línea y el contenido */
  border-left: 2px solid rgba(235, 192, 4, 0.4); /* Línea de tiempo */
}
.timeline-title {
  font-size: 24px;
  color: #d3d3d3; /* Gris suave para combinar */
  text-align: center;
  margin-bottom: 20px;
}
.timeline-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 50px; /* Espaciado entre los ítems */
  position: relative;
}

.timeline-point {
  width: 12px;
  height: 12px;
  background-color: #fff; /* Color del punto */
  border-radius: 50%;
  position: absolute;
  left: -17px; /* Posición del punto en relación a la línea */
  top: 10px; /* Alineación vertical */
}

.timeline-content {
  margin-left: 20px;
}

.timeline-content h4 {
  font-size: 18px;
  margin: 0 0 5px;
  color: #fff;
}

.timeline-content p {
  font-size: 14px;
  margin: 0;
  color: #bbb; /* Texto más claro */
}

.card {
  background-color: rgba(255, 255, 255, 0.1);
  position: relative;
  width: 75%;
  height: auto;
  border-radius: 10px;
  box-shadow: 2px 3px 5px rgba(73, 69, 52, 0.4);
  margin: 40px;
  
}

.card .content {
  position: relative;
  z-index: 100;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-align: center;
  padding: 20px;
  background: #c4c4c4;
  box-shadow: 2px 3px 5px rgba(235, 192, 4, 0.4);
}

.card .content .img {
  height: 50%;
  margin-bottom: 20px;
}

.card .content .img img {
  position: relative;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.card .content span {
  position: absolute;
  width: 900px;
  height: 400px;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.6),
    rgba(14, 13, 13, 1)
  );
  transform: rotate(-25deg);
  top: -250px;
  left: -200px;
}

.card .content h4 {
  font-size: 18px;
  margin-top: 20px;
  color: #1a1919;
}

.card .content h6 {
  font-size: 13px;
  color: #5e2066;
}

.card .content p {
  color: #1a161f;
  margin-top: 10px;
  font-size: 1rem;
  line-height: 1.6;
}

.card .links {
  position: absolute;
  z-index: 90;
  width: 100px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 2px 3px 5px rgba(235, 192, 4, 0.4);
  padding: 10px;
  align-items: center;
  right: 100px;
  top: 15px;
  transition: 0.5s;
}

.card:hover .links {
  right: -90px;
  border-radius: 0 10px 10px 0;
}

.card .links a {
  font-size: 30px;
  color: #646069;
}

.card .links a:nth-child(1):hover {
  color: #0158ca;
}

.card .links a:nth-child(2):hover {
  color: #5d277d;
}

.card .links a:nth-child(3):hover {
  color: #fe0000;
}

.skills-fullwidth {
  width: 100%;
  padding: 40px 0;
  background-color: #1c1c1c; /* Fondo oscuro */
  color: #fff; /* Texto blanco */
  text-align: center;
}

.skills-fullwidth h3 {
  font-size: 28px;
  margin-bottom: 40px;
  color: #fff; /* Color del título */
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 80%;
  margin: 0 auto;
}

.skill {
  padding: 20px;
  background-color: #2e2e2e; /* Fondo de las tarjetas de skills */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.skill h4 {
  font-size: 20px;
  margin-bottom: 10px;
  color: rgba(235, 192, 4, 0.7);
}

.skill p {
  font-size: 16px;
  color: #bbb;
}


.contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 8px;
  border-radius: 10px;
}

.contacto__form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 2rem;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 8px;
  border-radius: 10px;
}

.contacto__form__content {
  width: 50%;
  color: #ffffff;
}

.contacto__form__content h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.contacto__form__content label {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 10px;
}

.contacto__form__content input,
.contacto__form__content textarea {
  color: #ffffff;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid rgba(235, 192, 4, 0.4);
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
  width: calc(100% - 22px);
  box-sizing: border-box;
}

.contacto__form__content input:focus,
.contacto__form__content textarea:focus {
  outline: none;
  border-color: rgba(235, 192, 4, 1);
  background-color: rgba(0, 0, 0, 0.85);
}

.contacto__form__content button {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: rgba(235, 192, 4, 0.8);
  color: #1a1919;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contacto__form__content button:hover {
  background-color: rgba(235, 192, 4, 1);
}

.contacto__img {
  width: 50%;
  margin-top: 10px;
  transform: rotate(-15deg);
}

.contacto__img img {
  width: 100%;
  height: auto;
  border-radius: 1rem;
  object-fit: cover;
  image-rendering: smooth;
}
/* Media Query para mejorar la responsividad */
@media (max-width: 768px) {
  .contacto__form {
    flex-direction: column; /* Cambia a columna en pantallas pequeñas */
    align-items: center; /* Centra el contenido */
  }

  .contacto__form__content,
  .contacto__img {
    width: 100%; /* Ocupa el 100% en pantallas pequeñas */
  }

  .contacto__img {
    rotate: 0; /* Quita la rotación en pantallas pequeñas */
  }
}
footer {
  background-color: rgba(0, 0, 0, 0.9);
  color: #ffffff;
  padding: 2rem;
  text-align: center;
}

.footer__content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.footer__info {
  width: 30%;
}

.footer__info h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.footer__info p {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer__social {
  width: 30%;
}

.footer__social h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.footer__social ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__social li {
  display: inline-block;
  margin-right: 20px;
}

.footer__social a {
  color: #ffffff;
  text-decoration: none;
}

.footer__social a:hover {
  color: #ffd700;
}

.footer__copyright {
  width: 30%;
}

.footer__copyright p {
  font-size: 18px;
  margin-bottom: 10px;
}
